openapi: 3.2.0
info:
  title: Ticketmaster Discovery Venues API
  description: The Ticketmaster Discovery API allows developers to search for events, attractions, venues, and classifications across the Ticketmaster platform. Access over 230,000 events across the United States, Canada, Mexico, Australia, New Zealand, the UK, Ireland, and Europe. Content sources include Ticketmaster, Universe, FrontGate Tickets, and Ticketmaster Resale (TMR). Default quota is 5,000 API calls per day with a rate limit of 5 requests per second.
  version: '2.0'
  contact:
    name: Ticketmaster Developer Support
    url: https://developer.ticketmaster.com
  termsOfService: https://developer.ticketmaster.com/support/terms-of-use/
servers:
- url: https://app.ticketmaster.com/discovery/v2
  description: Ticketmaster Discovery API v2
security:
- ApiKeyQuery: []
tags:
- name: Venues
  description: Search and retrieve venue information
paths:
  /venues.json:
    get:
      operationId: searchVenues
      summary: Search Venues
      description: Search for venues on the Ticketmaster platform by name, location, or country.
      tags:
      - Venues
      parameters:
      - name: apikey
        in: query
        required: true
        schema:
          type: string
      - name: keyword
        in: query
        schema:
          type: string
      - name: countryCode
        in: query
        schema:
          type: string
      - name: stateCode
        in: query
        schema:
          type: string
      - name: city
        in: query
        schema:
          type: string
      - name: latlong
        in: query
        schema:
          type: string
      - name: radius
        in: query
        schema:
          type: integer
      - name: size
        in: query
        schema:
          type: integer
      - name: page
        in: query
        schema:
          type: integer
      - name: locale
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Venue search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueSearchResponse'
  /venues/{id}.json:
    get:
      operationId: getVenue
      summary: Get Venue
      description: Retrieve details for a specific venue by ID.
      tags:
      - Venues
      parameters:
      - name: apikey
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Venue details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Venue'
components:
  schemas:
    VenueSearchResponse:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            venues:
              type: array
              items:
                $ref: '#/components/schemas/Venue'
        _links:
          $ref: '#/components/schemas/Links'
        page:
          $ref: '#/components/schemas/Page'
    Page:
      type: object
      properties:
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
        number:
          type: integer
    Links:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
        next:
          type: object
          properties:
            href:
              type: string
        prev:
          type: object
          properties:
            href:
              type: string
    Venue:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        url:
          type: string
          format: uri
        locale:
          type: string
        postalCode:
          type: string
        timezone:
          type: string
        city:
          type: object
          properties:
            name:
              type: string
        state:
          type: object
          properties:
            name:
              type: string
            stateCode:
              type: string
        country:
          type: object
          properties:
            name:
              type: string
            countryCode:
              type: string
        address:
          type: object
          properties:
            line1:
              type: string
            line2:
              type: string
        location:
          type: object
          properties:
            longitude:
              type: string
            latitude:
              type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        upcomingEvents:
          type: object
    Image:
      type: object
      properties:
        ratio:
          type: string
          enum:
          - '16_9'
          - '3_2'
          - '4_3'
        url:
          type: string
          format: uri
        width:
          type: integer
        height:
          type: integer
        fallback:
          type: boolean
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apikey
