openapi: 3.2.0
info:
  title: Ticketmaster Discovery Suggestions API
  description: The Ticketmaster Discovery API allows developers to search for events, attractions, venues, and classifications across the Ticketmaster platform. Access over 230,000 events across the United States, Canada, Mexico, Australia, New Zealand, the UK, Ireland, and Europe. Content sources include Ticketmaster, Universe, FrontGate Tickets, and Ticketmaster Resale (TMR). Default quota is 5,000 API calls per day with a rate limit of 5 requests per second.
  version: '2.0'
  contact:
    name: Ticketmaster Developer Support
    url: https://developer.ticketmaster.com
  termsOfService: https://developer.ticketmaster.com/support/terms-of-use/
servers:
- url: https://app.ticketmaster.com/discovery/v2
  description: Ticketmaster Discovery API v2
security:
- ApiKeyQuery: []
tags:
- name: Suggestions
  description: Search suggestions and autocomplete
paths:
  /suggest.json:
    get:
      operationId: getSuggestions
      summary: Get Search Suggestions
      description: Returns search suggestions for events, attractions, and venues based on a keyword.
      tags:
      - Suggestions
      parameters:
      - name: apikey
        in: query
        required: true
        schema:
          type: string
      - name: keyword
        in: query
        required: true
        schema:
          type: string
        description: Partial search keyword
      - name: countryCode
        in: query
        schema:
          type: string
      - name: source
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Search suggestions
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apikey
